/* CSS Reset  */

html {
    scroll-behavior: smooth;
}

* {
    margin: 0px;
    padding: 0px;
}

/* CSS Variables  */

:root {
    --navbar-height: 60px;
}

/* Navigation bar  */

#navbar #logo img {
    filter: invert(1);
}

#navbar {
    display: flex;
    align-items: center;
    top: 0px;
    position: sticky;
    z-index: 2;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}

/*Navigation Bar: Logo and image  */

#logo {
    margin: 3px 14px;
}

#logo img {
    height: 50px;
    margin: 3px 6px;
}

/*Navigation Bar: List styling  */

#navbar ul {
    display: flex;
    align-items: center;
}

#navbar ul li {
    list-style: none;
    font-size: 1.4rem;
}

#navbar ul li a {
    padding: 0px 7px;
    margin: 0px 5px;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    font-family: 'Baloo Bhai 2', cursive;
}

#navbar ul li a:hover {
    background-color: white;
    color: black;
}

/* Home Section  */

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 150px;
    height: 446px;
}

#home::before {
    content: "";
    position: absolute;
    background: url('../images/background_images/bg2.jpg') no-repeat center center/cover;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1 {
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Bree Serif', serif;
}

/* Services section  */

#service-section {
    margin-top: 218px;
}

#services {
    margin: 34px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#services .box {
    border: 2px solid brown;
    border-radius: 15px;
    margin: 30px;
    padding: 12px 20px;
    background-color: rgb(240, 221, 221);
}

#services .box img {
    width: 300px;
    height: 280px;
    display: block;
    margin: auto;
}

#services .box p {
    font-family: 'Bree Serif', serif;
}

/* Client Section  */

/* #client-section {
} */

#client-section::before {
    content: "";
    position: absolute;
    background: url('../images/background_images/bg1.jpg') no-repeat center center/cover;
    width: 100%;
    height: 112%;
    z-index: -1;
    opacity: 0.5;
}

#clients {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#clients img {
    height: 164px;
}

/* Contact Section  */

#contact {
    position: relative;
}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../images/contact images/contact-us.jpg') no-repeat center center/cover;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 35px;
}

#contact-box form {
    width: 40%;
}

#contact-box label {
    font-size: 1.2rem;
    font-family: 'Bree Serif', serif;
}

#contact-box input, #contact-box textarea {
    width: 96%;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.1rem;
}

.form-btn {
    width: 100%;
    padding: 6px 10px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid black;
    font-size: 1.3rem;
    margin-top: 15px;
    padding: 15px;
    cursor: pointer;
}
.form-btn:hover{
    background-color: white;
    color: black;
}

/* Footer section  */

footer {
    background: black;
    color: white;
    padding: 9px 20px;
    font-family: 'Baloo Bhai 2', cursive;
    text-align: center;
}

.footer-link {
    margin: 10px 40px;
    padding: 2px 10px;
    text-decoration: none;
    font-family: 'Baloo Bhai 2', cursive;
    color: white;
    border-radius: 10px;
    font-size: 22px;
}

/* Utility classes  */

.h-primary {
    font-size: 2.5rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}

.h-secondary {
    font-size: 1.5rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}

.center {
    text-align: center;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: transparent;
    margin: 17px;
    margin-top: 112px;
    color: white;
    font-size: 1.5rem;
    border-radius: 14px;
    cursor: pointer;
}

.btn:hover {
    background-color: white;
    color: black;
}